<
<div class="breadcrumbs">
<div class="col-sm-4">
    <div class="page-header float-left">
        <div class="page-title">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>
</div>

<div class="content mt-3">

  <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>CARRERAS</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                       
                    </div>
                </div>
            </div>
        </div>

<hr>
    <div class="content mt-3"  ng-show="ver2">
      <div class="card">
        <div class="card-header">
            <strong class="card-title">CREAR</strong>
        </div>
    <div class="card-body">    
           <form ng-submit="guardarc(carrera_nuevo)" >
          
              
                     <div class="row">
                          <div class="col-sm-2">Taxi: </div>
                          <select placeholder="Taxi" class="col-sm-4 form-control" type="text" ng-model="carrera_nuevo.taxi_id "  name="">
                            <option value="{{taxi.rowid}}" ng-repeat="taxi in taxis">{{taxi.placas}}</option>
                          </select>
                        </div>

               <div class="row">
                          <div class="col-sm-2">Taxista: </div>
                          <select placeholder="Taxista" class="col-sm-4 form-control" type="text" ng-model="carrera_nuevo.taxista_id  "  name="">
                            <option value="{{taxista.rowid}}" ng-repeat="taxista in taxistas">{{taxista.nombres}}   {{taxista.apellidos}}</option>
                          </select>
                        </div>

                <div class="row">
                  <div class="col-sm-2">Fecha Inicio: </div>
                  <input  placeholder="Fecha Inicio" class="col-sm-4 form-control" type="date" ng-model="carrera_nuevo.fecha_ini"  name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Lugar Inicio: </div>
                  <input  placeholder="Lugar Inicio" class="col-sm-4 form-control" type="text" ng-model="carrera_nuevo.lugar_inicio"  name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Lugar Fin: </div>
                  <input  placeholder="Lugar Fin" class="col-sm-4 form-control" type="text"  ng-model="carrera_nuevo.lugar_fin" name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Fecha Fin: </div>
                  <input  placeholder="Fecha Fin" class="col-sm-4 form-control" type="date"  ng-model="carrera_nuevo.fecha_fin" name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Estado: </div>
                 <div class="col-sm-3" >    

                    <input class=""  type="radio" name="gender" value="En curso" ng-model="carrera_nuevo.estado">En curso<br>
                    
                  </div>
                  <div class=" col-sm-3" > 
                    <label>
                    <input class=""  type="radio" name="gender" value="Finalizada" ng-model="carrera_nuevo.estado">Finalizada</label>
                  </div>
                  <div class=" col-sm-3" > 

                    <input   class=""  type="radio" name="gender" value="Cancelada" ng-model="carrera_nuevo.estado">Cancelada<br>
                  </div>
                </div>

            
 
                <button type="submit">Guardar</button> 
               
            </form>
          </div>
          
        </div>
      </div>    



      <div  class=" content mt-3">
        <div  style="height: 150px; background-color: white;   text-align: center " class="card">
           <div class="card-header">
            <strong style="text-align: left" class="card-title">ESTADO</strong>
        </div>
            <div style=" text-align: center" >
                  <BUTTON class="btn-estado"  ng-click="en_curso(carrera_estado)" style="margin-top: 27px; padding: 10px " ng-disabled="carrera_estado.estado=='En curso'">EN CURSO</BUTTON>

                  <BUTTON class="btn-estado" ng-click="finalizada(carrera_estado)"   ng-disabled="carrera_estado.estado=='Finalizada'" style="margin-top: 27px; padding: 10px " >FINALIZADA</BUTTON>

                  <BUTTON class="btn-estado"  ng-click="cancelada(carrera_estado)"  ng-disabled="carrera_estado.estado=='Cancelada'" style="margin-top: 27px; padding: 10px " >CANCELADA</BUTTON>

            </div>
        </div>
      </div>
        

             


                <div class="content mt-3">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">CARRERAS</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Taxi</th>
                                  <th scope="col">Taxista</th>
                                  <th scope="col">Fecha De Inicio</th>
                                  <th scope="col">Lugar Inicio</th>
                                  <th scope="col">Lugar Fin</th>
                                  <th scope="col">Fecha Fin</th>
                                  <th scope="col">Estado</th>
                                  <TH>Editar/Eliminar</TH>
                                 
                                </tr>
                              </thead >
                              <tbody>
                                <tr ng-repeat="CARRERA in carreras" class="manito" ng-class="{'fondo-seleccionado': CARRERA.seleccionada}">
                                  <th scope="row">{{CARRERA.rowid}}</th>
                                  <td  ng-click="modificarcarrera(CARRERA)">{{CARRERA.placas}}</td>
                                  <td  ng-click="modificarcarrera(CARRERA)">{{CARRERA.nombres}} {{CARRERA.apellidos}}</td>
                                  <td  ng-click="modificarcarrera(CARRERA)">{{CARRERA.fecha_ini | date:'dd/MM/yyyy' }}</td>
                                  <TD ng-click="modificarcarrera(CARRERA)"> {{CARRERA.lugar_inicio}}</TD>
                                   <TD  ng-click="modificarcarrera(CARRERA)">{{CARRERA.lugar_fin}}</TD>
                                  <TD  ng-click="modificarcarrera(CARRERA)">{{CARRERA.fecha_fin | date:'dd/MM/yyyy' }}</TD>
                                  <TD ng-click="modificarcarrera(CARRERA)">{{CARRERA.estado}}</TD>
                             
                                  <TD>
                                       <button ng-click="editar(CARRERA)" type="button" class="btn btn-info btn-sm">
                                            <span class="fa fa-pencil"></span>  
                                         </button>
                                      <button type="button"  ng-click="eliminar(CARRERA.rowid)" class="btn btn-danger btn-sm">
                                          <span class="fa fa-times"></span>  
                                        </button>
                                 </TD>
                                </tr>
                               
                              </tbody>
                            </table>

                        </div>
                    </div>
                </div>     
        <div class="content mt-3"  ng-show="ver">
              <div class="card">
                <div class="card-header">
                    <strong class="card-title">CREAR</strong>
                </div>
            <div class="card-body">
                <form>
                  <H1>MODIFICAR</H1>
                <div>
                <div class="row">
                  <div class="col-sm-2">Taxi: </div>
                  <select placeholder="Taxi" class="col-sm-4 form-control" type="text" ng-model="carrera_Editar.taxi_id "  name="">
                    <option value="{{taxi.rowid}}" ng-repeat="taxi in taxis">{{taxi.placas}}</option>
                  </select>
                </div>

              <div class="row">
                  <div class="col-sm-2">Taxista: </div>
                  <select placeholder="Taxista" class="col-sm-4 form-control" type="text" ng-model="carrera_Editar.taxista_id  "  name="">
                    <option value="{{taxista.rowid}}" ng-repeat="taxista in taxistas">{{taxista.nombres}}   {{taxista.apellidos}}</option>
                  </select>
                </div>


                <div class="row">
                  <div class="col-sm-2">Fecha Inicio: </div>
                  <input  placeholder="Fecha Inicio" class="col-sm-4 form-control" type="date" ng-model="carrera_Editar.fecha_ini"  name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Lugar Inicio: </div>
                  <input  placeholder="Lugar Inicio" class="col-sm-4 form-control" type="text" ng-model="carrera_Editar.lugar_inicio"  name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Lugar Fin: </div>
                  <input  placeholder="Lugar Fin" class="col-sm-4 form-control" type="text"  ng-model="carrera_Editar.lugar_fin" name="">
                </div>

                <div class="row">
                  <div class="col-sm-2">Fecha Fin: </div>
                  <input  placeholder="Fecha Fin" class="col-sm-4 form-control" type="date"  ng-model="carrera_Editar.fecha_fin" name="">
                </div>

                 <div class="row">
                  <div class="col-sm-2">Estado: </div>
                 <div class="col-sm-3" >     
                    <input class=""  type="radio" name="gender" value="En curso" ng-model="carrera_Editar.estado">En curso<br>
                  </div>
                  <div class=" col-sm-3" > 
                    <label>
                    <input class=""  type="radio" name="gender" value="Finalizada" ng-model="carrera_Editar.estado">Finalizada</label>
                  </div>
                  <div class=" col-sm-3" > 

                    <input   class=""  type="radio" name="gender" value="Cancelada" ng-model="carrera_Editar.estado">Cancelada<br>
                  </div>
                </div>
            
                  <button  ng-click="guardarcarrera(carrera_Editar)" >MODIFICAR</button> <button ng-click="cancelar()">ATRAS</button>
              </form>
            </div>
          </div>
        </div> 
    


